@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
button {
  @apply bg-gradient-to-r from-blue-500 to-blue-700 text-white rounded p-1;
}

tr:nth-child(even) {
  @apply bg-gray-200;
}

tr:nth-child(odd) {
  @apply bg-white;
}

td {
  @apply px-2 py-1;
}

a {
  @apply hover:underline;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply mt-8 text-lg;
}

form {
  @apply flex flex-col space-y-2;
}

input[type="text"] {
  @apply border rounded p-1;
}

input[type="text"]::placeholder {
  @apply text-gray-500;
}